@use "../../common/BingoTheme.scss";

@media screen and (max-width: 30em) {
    #root
    {
        display: none;
    }
}

@media screen and (min-width: 30em) {
    #root {
        display: block;
    }
}

#root
{
    width: 100%;
    height: 100%;
}

#bingoRenderingArea
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 14vh 1fr 9vh;
    grid-template-columns: 3rem 1fr auto;
}

#bingoRenderingArea.tall
{
    text-size-adjust: 0.8;
    grid-template-columns: 3rem 50% auto;
}

:global(body) {
    margin: 0;
}

:global(.identityPrompt)
{
    background-color: getRGB(jasminePalette);
    width: '100%';
    text-align: 'center';
    padding-top: '1vw';
    padding-bottom: '1vw';
    border-radius: '0.25vw';
    transition: 'opacity 0.5s';
}