@media screen and (max-width: 30em) {
    #root
    {
        display: none;
    }
}

@media screen and (min-width: 30em) {
    #root {
        display: block;
    }
}

@media screen and (min-height: 50em) {
    #safeAreaTop
    {
        height: 30vh !important;
    }
    .bingoGrid
    {
        max-height: 40vh;
    }
}

#root
{
    width: 100%;
    height: 100%;
}

#bingoRenderingArea
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.bingoGrid
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    max-height: 70vh;

    &> div {
        width: 100%;
        height: 100%;
    }
}

body {
    margin: 0;
}