@import './BingoTheme.scss';

.paper {
    background: $idle-base;
    height: 100%;
    border-radius: 0.25rem;
    user-select: none;
    text-align: center;
};

.idle {
    &:hover {
        background: $idle-hover;
    }
};

.prompt {
    background: $dutch-white;
    &:hover {
        background: $banana-mania;
    }
};

.pending {
    background: $banana-mania-2;
};

.confirmed {
    background: $jasmine;
};

.missed {
    background: $lightgray;
    color: #666;
};

.rejected {
    background: $lightgray;
    color: #666;
};

.colConfirmed {
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
};

.rowConfirmed {
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
};
