$idle-base: rgba(255, 255, 255, 0.9);
$idle-hover: rgba(255, 255, 255, 1.0);

$baby-powder: #fdfbf7ff;
$cornsilk: #fff6e0ff;
$dutch-white: #fae8bfff;
$banana-mania: #fae7b0ff;
$banana-mania-2: #ffe6a7ff;
$banana-mania-3: #ffe39dff;
$jasmine: #ffe194ff;
$sunglow: #ffcb47ff;
$honey-yellow: #f5af00ff;
$lightgray: #d4d4d4ff;