.bingoEntry {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 9;
    overflow: hidden;
    position: relative;
};

.bingoCellPrompt {
    transition: all 0.5s;
    width: 100%;
    background-color: rgba(255,243,214,0.9); // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    bottom: 1rem;
};

.bingoCellPromptVisible {
    height: unset;
    opacity: 1.0;
    &:hover {
        cursor: pointer;
        background-color: rgba(251,247,239,0.8); // #fbf7ef
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

.bingoCellPromptHidden {
    opacity: 0.0;
    bottom: -2rem;
};

.bingoCell {
    transition: all 0.3s;
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
};

.bingoCell.idle {
    &:hover {
        position: relative;
        top: -5%;
        left: -5%;
        z-index: 5;
        width: 110%;
        height: 110%;
    }
};

.hiddenCell {
    opacity: 0%;
    cursor: unset;
};

.visibleCell {
    opacity: 100%;
    box-shadow: 0px 0px 0.4vw 0 rgb(0 0 0 / 50%);
};

.visibleCell.idle {
    &:hover {
        cursor: pointer;
    }
};

.visibleCell.prompt {
    &:hover {
        cursor: pointer;
    }
};

.entryGridCell {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
};

.bingoCellOverlay {
    position: absolute;
    height: 110%;
    width: 110%;
};

.confirmed.bingoCellOverlay {
    background-image: url("/assets/stamp.svg");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    background-size: 11vh;
};

.type0 .bingoCellOverlay {
    background-position-x: 66%;
    background-position-y: 39%;
}

.type1 .bingoCellOverlay {
    background-position-x: 42%;
    background-position-y: 62%;
}

.type2 .bingoCellOverlay {
    background-position-x: 50%;
    background-position-y: 37%;
}

.type3 .bingoCellOverlay {
    background-position-x: 40%;
    background-position-y: 35%;
}

.type4 .bingoCellOverlay {
    background-position-x: 62%;
    background-position-y: 57%;
}

.type5 .bingoCellOverlay {
    background-position-x: 55%;
    background-position-y: 50%;
}

.type6 .bingoCellOverlay {
    background-position-x: 25%;
    background-position-y: 40%;
}

.type7 .bingoCellOverlay {
    background-position-x: 47%;
    background-position-y: 58%;
}

.type8 .bingoCellOverlay {
    background-position-x: 33%;
    background-position-y: 66%;
}

.type9 .bingoCellOverlay {
    background-position-x: 42%;
    background-position-y: 42%;
}

.bingoCell.pending {
    background: unset;
};

.bingoCell.confirmed {
    background-color: rgba(255,255,255,1);
};

.bingoCell.missed {
    opacity: 0.35;
    background-color: rgba(255,255,255,1);
    color: #000;
};

.bingoCell.rejected {
    opacity: 0.35;
    background-color: rgba(255,255,255,1);
    color: #000;
};