@use "sass:map";
@import './OverlayConstants.scss';

.bingoEntry {
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 9;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: grid;
    align-content: center;
    margin: auto; // Keep item centered when hovering
};

.bingoGrid.c2.r2 .bingoCell {
    font-size: 2.0vw;
}

.bingoGrid.c2.r3 .bingoCell {
    font-size: 1.75vw;
}

.bingoGrid.c2.r4 .bingoCell {
    font-size: 1.6vw;
}

.bingoGrid.c2.r5 .bingoCell {
    font-size: 1.5vw;
}

.bingoGrid.c3.r2 .bingoCell {
    font-size: 2.0vw;
}

.bingoGrid.c3.r3 .bingoCell {
    font-size: 1.75vw;
}

.bingoGrid.c3.r4 .bingoCell {
    font-size: 1.6vw;
}

.bingoGrid.c3.r5 .bingoCell {
    font-size: 1.5vw;
}

.bingoGrid.c4.r2 .bingoCell {
    font-size: 2.1vw;
}

.bingoGrid.c4.r3 .bingoCell {
    font-size: 1.75vw;
}

.bingoGrid.c4.r4 .bingoCell {
    font-size: 1.6vw;
}

.bingoGrid.c4.r5 .bingoEntryText {
    font-size: 1.5vw;
}

.bingoGrid.c5.r2 .bingoEntryText {
    font-size: 2vw;
}

.bingoGrid.c5.r3 .bingoEntryText {
    font-size: 1.75vw;
}

.bingoGrid.c5.r4 .bingoEntryText {
    font-size: 1.6vw;
}

.bingoGrid.c5.r5 .bingoEntryText {
    font-size: 1.5vw;
}

.bingoGrid.c3.r5 .bingoEntryText {
    font-size: 1.25vw;
}

.bingoGrid.c2 .bingoEntry {
    width: map.get($overlay-columns-width, 2) - 2vw;
};

.bingoGrid.c3 .bingoEntry {
    width: map.get($overlay-columns-width, 3) - 2vw;
};

.bingoGrid.c4 .bingoEntry {
    width: map.get($overlay-columns-width, 4) - 2vw;
};

.bingoGrid.c5 .bingoEntry {
    width: map.get($overlay-columns-width, 5) - 2vw;
};

.bingoGrid.r2 .bingoEntry {
    height: map.get($overlay-rows-height, 2);
};

.bingoGrid.r3 .bingoEntry {
    height: map.get($overlay-rows-height, 3);
};

.bingoGrid.r4 .bingoEntry {
    height: map.get($overlay-rows-height, 4);
};

.bingoGrid.r5 .bingoEntry {
    height: map.get($overlay-rows-height, 5);
};

.bingoCellPrompt {
    transition: all 0.5s;
    width: 100%;
    background-color: rgba(234,78,122,0.8); // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: #FFF;
    text-shadow: 0 0 2vh #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    bottom: 1rem;
};

.bingoCellPromptVisible {
    height: unset;
    opacity: 1.0;
    &:hover {
        cursor: pointer;
        background-color: rgba(248,192,208,0.9); // #fbf7ef
        color: #000;
        text-shadow: 0 0 2vh rgba(234,78,122,1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

.bingoCellPromptHidden {
    opacity: 0.0;
    bottom: -1vh;
};

.bingoCell {
    transition: all 0.3s;
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
};

.bingoCell.idle {
    &:hover {
        position: relative;
        top: -5%;
        left: -5%;
        z-index: 5;
        width: 110%;
        height: 110%;
    }
};

.bingoEntryText {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: auto;
}

.hiddenCell {
    opacity: 0%;
    cursor: unset;
};

.visibleCell {
    opacity: 100%;
    box-shadow: 0px 0px 0.4vw 0 rgb(0 0 0 / 50%);
};

.visibleCell.idle {
    &:hover {
        cursor: pointer;
    }
};

.visibleCell.prompt {
    &:hover {
        cursor: pointer;
    }
};

.entryGridCell {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
};

.bingoCellOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
};

.confirmed.bingoCellOverlay {
    background-image: url("/assets/Stamp.svg");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    background-size: 11vh;
};

.bingoCellOverlay.idle {
    &:hover {
        background: unset;
    }
}

.type0 .bingoCellOverlay {
    background-position-x: 66%;
    background-position-y: 39%;
}

.type1 .bingoCellOverlay {
    background-position-x: 42%;
    background-position-y: 62%;
}

.type2 .bingoCellOverlay {
    background-position-x: 50%;
    background-position-y: 37%;
}

.type3 .bingoCellOverlay {
    background-position-x: 40%;
    background-position-y: 35%;
}

.type4 .bingoCellOverlay {
    background-position-x: 62%;
    background-position-y: 57%;
}

.type5 .bingoCellOverlay {
    background-position-x: 55%;
    background-position-y: 50%;
}

.type6 .bingoCellOverlay {
    background-position-x: 25%;
    background-position-y: 40%;
}

.type7 .bingoCellOverlay {
    background-position-x: 47%;
    background-position-y: 58%;
}

.type8 .bingoCellOverlay {
    background-position-x: 33%;
    background-position-y: 66%;
}

.type9 .bingoCellOverlay {
    background-position-x: 42%;
    background-position-y: 42%;
}

.bingoCell.pending {
    background: unset;
};

.bingoCell.confirmed {
    background-color: rgba(255,255,255,1);
};

.bingoCell.missed {
    opacity: 0.35;
    background-color: rgba(255,255,255,1);
    color: #000;
};

.bingoCell.rejected {
    opacity: 0.35;
    background-color: rgba(255,255,255,1);
    color: #000;
};