$idle-base: rgba(255, 255, 255, 0.9);
$idle-hover: rgba(255, 255, 255, 1.0);

$marker-color: rgba(234,78,122,0.8);
$marker-color-opaque: rgba(234,78,122,1.0);
$strong-marker-color: rgba(229,39,93,0.79);