@import './BingoTheme.scss';

.paper {
    background: $idle-base;
    height: 100%;
    border-radius: 0.25rem;
    user-select: none;
    text-align: center;
};

.idle {
    &:hover {
        background: $idle-hover;
    }
};

.prompt {
    background: $dutch-white;
    &:hover {
        background: $dutch-white;
    }
};

.colConfirmed {
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
};

.rowConfirmed {
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
};
