@use './BingoTheme.scss';

.paper {
    background: BingoTheme.$idle-base;
    height: 100%;
    border-radius: 0.25rem;
    user-select: none;
    text-align: center;
};

.idle {
    &:hover {
        background: BingoTheme.$idle-hover;
    }
};

.colConfirmed {
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
};

.rowConfirmed {
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
};

.bandeauPrompt {
    transition: all 0.5s;
    width: 100%;
    background-color: rgba(234,78,122,0.8); // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: #FFF;
    text-shadow: 0 0 2vh #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    bottom: 1rem;
};

.bandeauPromptVisible {
    height: unset;
    opacity: 1.0;
    &:hover {
        cursor: pointer;
        background-color: rgba(248,192,208,0.9); // #fbf7ef
        color: #000;
        text-shadow: 0 0 2vh rgba(234,78,122,1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

.bandeauPromptHidden {
    opacity: 0.0;
    bottom: -1vh;
};
