@use './MobileTheme.scss';
@use "../../common/BingoTheme.scss";

:global(.bingoEntry) {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 36px;
    overflow: hidden;
    border: MobileTheme.$grid-fill-color;
    border-width: thick;
    border-style: solid;
    border-radius: 36px;

    display: grid;

    :global(> div) {
        align-self: center;
    };
    transition: all 0.5s;
    :global(div.key) {
        border-radius: 36px;
        background-color: MobileTheme.$grid-fill-color;
        color: MobileTheme.$grid-text-inverted;
        width: 36px;
        height: 36px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 36px;
        margin-right: 12px;
        grid-column: 1;
    }
    :global(.timer) {
        height: 0px;
        width: 0px;
        opacity: 0;
        transition: all 0.5s;
    };
    :global(.text) {
        text-overflow: ellipsis;
        grid-column-start: 2;
        grid-column-end: 4;
        color: MobileTheme.$grid-text-color;
    }
    cursor: pointer;
}

:global(.idle) {
    background: MobileTheme.$cell-fill-color-base;
};
:global(.prompt) {
    background: MobileTheme.$cell-fill-color-base;
    border-color: MobileTheme.$list-missed-text;
};
:global(.pending) {
    background: MobileTheme.$list-pending-background;
    min-height: 50px !important;
};
:global(.confirmed) {
    background-color: MobileTheme.$cell-fill-color-base;

    :global(div.key) {
        background-color: BingoTheme.$marker-color;
    }

    :global(div.text) {
        color: MobileTheme.$grid-text-color;
    }
};
:global(.confirmed.highlighted) {
    :global(div.key) {
        background-color: BingoTheme.$marker-color;
    }
    :global(div.text) {
        color: MobileTheme.$grid-text-color;
    }
}

:global(.missed) {
    background: MobileTheme.$list-missed-background;
    color: MobileTheme.$list-missed-text;
    :global(div.key) {
        background-color: MobileTheme.$list-missed-key;
    }
};

:global(.missed.highlighted) {
    background: MobileTheme.$list-missed-background;
    color: MobileTheme.$list-missed-text;
};

:global(.rejected) {
    background: MobileTheme.$list-missed-background;
    color: MobileTheme.$list-missed-text;
    :global(div.key) {
        background-color: MobileTheme.$list-missed-key;
    }
};

:global(.rejected.highlighted) {
    background: MobileTheme.$list-missed-background;
    color: MobileTheme.$list-missed-text;
};

:global(.highlighted) {
    height: unset;
    min-height: 36px;
    :global(div.key) {
        background-color: MobileTheme.$cell-fill-color-base;
        color: MobileTheme.$grid-fill-color;
        border: solid MobileTheme.$grid-fill-color thin;
    }
    :global(.timer) {
        height: unset;
        width: fit-content;
        opacity: 1;
        grid-column: 1;
    };
    :global(.text) {
        text-overflow: unset;
        grid-column: 2;
    };
};

:global(.prompting) {
    height: unset;
    min-height: 64px;
    overflow-y: hidden;
    :global(.confirm) {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    };
    :global(.cancel) {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    };
}

:global(.bingoCell) {
    transition: opacity 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
};

:global(.bingoCellPrompt) {
    transition: all 0.5s;
    height: 100%;
    background-color: MobileTheme.$grid-fill-color; // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    color: MobileTheme.$grid-text-inverted;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    right: 0rem;
    text-align: left;
    max-width: 10rem;
    padding: 0.5rem;
    align-items: center;
    display: grid;
    cursor: pointer;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
};

:global(.bingoCellPromptVisible) {
    width: unset;
    opacity: 1.0;
    
    :global(:active) {
        cursor: pointer;
        background-color: rgba(251,247,239,0.8); // #fbf7ef
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

:global(.bingoCellPromptHidden) {
    opacity: 0.0;
    right: -10rem;
};

:global(.bingoCellTimer) {
    transition: all 0.5s;
    height: 100%;
    background-color: MobileTheme.$grid-text-inverted; // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
    color: MobileTheme.$grid-fill-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    right: 0rem;
    text-align: left;
    max-width: 10rem;
    padding: 0.5rem;
    align-items: center;
    display: grid;
    cursor: pointer;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
};

:global(.bingoCellTimerVisible) {
    width: unset;
    opacity: 1.0;
    
    :global(:active) {
        cursor: pointer;
        background-color: rgba(251,247,239,0.8); // #fbf7ef
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

:global(.bingoCellTimerHidden) {
    opacity: 0.0;
    right: -10rem;
};