@import './MobileTheme.scss';

svg.mobileGrid {
    background-color: $panel-fill-color;
    max-height: 50vh;

    .gridBorder {
        stroke-width: 5;
        stroke: $grid-border-color;
        fill: $grid-fill-color
    }

    g rect.background {
        fill: $cell-fill-color-base;
        stroke-opacity: 0;
        stroke-width: 10;
        stroke: darkgray;
    }

    g text {
        z-index: 0;
        text-anchor: middle;
        fill: $grid-text-color;
    }

    g.confirmed circle {
        fill: $strong-marker-color;
        z-index: 9;
    }

    g.missed rect.background {
        fill: $cell-fill-color-missed;
    }

    g.highlighted {
        rect.background {
            fill: $cell-fill-color-highlighted;
            stroke: $cell-stroke-color-highlighted;
            stroke-opacity: 1.0;
        }
        text {
            fill: $grid-text-inverted;
        }
    }
}