@import '../../common/BingoTheme.scss';

.bingoEntry {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 36px;
    overflow: hidden;
    border-bottom: solid #666 thin;
    > div {
        align-self: center;
    };
    transition: all 0.5s;
    .timer {
        height: 0px;
        width: 0px;
        opacity: 0;
        transition: all 0.5s;
    };
    .text {
        text-overflow: ellipsis;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    cursor: pointer;
}

.idle {
    background: $baby-powder;
};
.prompt {
    background: $dutch-white;
};
.pending {
    background: $banana-mania-2;
    min-height: 50px !important;
};
.confirmed {
    background: $jasmine;
};
.missed {
    background: $lightgray;
    color: #666;
};
.rejected {
    background: $lightgray;
    color: #666;
};

.highlighted {
    height: unset;
    min-height: 36px;
    .timer {
        height: unset;
        width: fit-content;
        opacity: 1;
        grid-column: 1;
    };
    .text {
        text-overflow: unset;
        grid-column: 2;
    };
};

.prompting {
    height: unset;
    min-height: 64px;
    overflow-y: hidden;
    .text {
        text-align: center;
    };
    .confirm {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    };
    .cancel {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    };
}

.bingoCell {
    transition: opacity 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
};

.bingoCellPrompt {
    transition: all 0.5s;
    height: 100%;
    background-color: rgba(255,243,214,0.9); // #fff3d6
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    position: absolute;
    right: 0rem;
    text-align: left;
    max-width: 10rem;
    padding: 0.5rem;
    align-items: center;
    display: grid;
    cursor: pointer;
};

.bingoCellPromptVisible {
    width: unset;
    opacity: 1.0;
    
    :active {
        cursor: pointer;
        background-color: rgba(251,247,239,0.8); // #fbf7ef
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }
};

.bingoCellPromptHidden {
    opacity: 0.0;
    right: -10rem;
};