@import "../../common/BingoTheme.scss";

$grid-text-color: #000;
$grid-text-inverted: #FFF;
$grid-fill-color: #000;
$grid-border-color: #FFF;
$cell-fill-color-base: #FFF;
$cell-fill-color-missed: gray;
$cell-fill-color-highlighted: #000;
$cell-stroke-color-highlighted: #FFF;
$list-missed-background: lightgray;
$list-missed-key: darkgray;
$list-missed-text: #666;
$list-pending-background: lightgray;