@import "./MobileTheme.scss";

body
{
    margin: 0px;
}

#root
{
    width: 100%;
    max-height: 100vh;

    & > div {
        background-color: $panel-fill-color;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}