@use "./MobileTheme.scss";

:global(body)
{
    margin: 0px;
}

:global(#root)
{
    width: 100%;
    max-height: 100vh;

    & > div {
        background-color: MobileTheme.$panel-fill-color;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}