@import "../../common/BingoTheme.scss";

// Black
// $panel-fill-color: #000;
// $grid-text-color: #000;
// $grid-text-inverted: #FFF;
// $grid-fill-color: #000;
// $grid-border-color: #FFF;
// $cell-fill-color-base: #FFF;
// $cell-fill-color-missed: gray;
// $cell-fill-color-highlighted: #000;
// $cell-stroke-color-highlighted: #FFF;
// $list-missed-background: lightgray;
// $list-missed-key: darkgray;
// $list-missed-text: #666;
// $list-pending-background: lightgray;

// Bistre
// $panel-fill-color: #856d4d;
// $grid-text-color: #2F271B;
// $grid-text-inverted: #F7F5F1;
// $grid-fill-color: #856d4d;
// $grid-border-color: #F7F5F1;
// $cell-fill-color-base: #D0C1AD;
// $cell-fill-color-missed: #EFEAE4;
// $cell-fill-color-highlighted: #2F271B;
// $cell-stroke-color-highlighted: #D8CBBB;
// $list-missed-background: #EFEAE4;
// $list-missed-key: #D0C1AD;
// $list-missed-text: #6B6967;
// $list-pending-background: #D8CBBB;

// Ecru
// $panel-fill-color: #c7bb83;
// $grid-text-color: #F7F5ED;
// $grid-text-inverted: #413B1D;
// $grid-fill-color: #c7bb83;
// $grid-border-color: #413B1D;
// $cell-fill-color-base: #211D0F;
// $cell-fill-color-missed: #413B1D;
// $cell-fill-color-highlighted: #62582C;
// $cell-stroke-color-highlighted: #83763B;
// $list-missed-background: #413B1D;
// $list-missed-key: #211D0F;
// $list-missed-text: #413B1D;
// $list-pending-background: #83763B;

// Light French Beige
// $panel-fill-color: #C8AD7F;
// $grid-text-color: #211A0E;
// $grid-text-inverted: #F7F3ED;
// $grid-fill-color: #C8AD7F;
// $grid-border-color: #F7F3ED;
// $cell-fill-color-base: #E7DCC8;
// $cell-fill-color-missed: #FBF9F6;
// $cell-fill-color-highlighted: #211A0E;
// $cell-stroke-color-highlighted: #D8C4A3;
// $list-missed-background: #FBF9F6;
// $list-missed-key: #E7DCC8;
// $list-missed-text: #AEA699;
// $list-pending-background: #D8C4A3;

// ~ Bistre
// $panel-fill-color: #281C07;
// $grid-text-color: #2F271B;
// $grid-text-inverted: #F7F5F1;
// $grid-fill-color: #281C07;
// $grid-border-color: #F7F5F1;
// $cell-fill-color-base: #D9CEBE;
// $cell-fill-color-missed: #D3D3D3;
// $cell-fill-color-highlighted: #2F271B;
// $cell-stroke-color-highlighted: #F5F2EE;
// $list-missed-background: #D3D3D3;
// $list-missed-key: #6B6967;
// $list-missed-text: #6B6967;
// $list-pending-background: #D8CBBB;

// ~ Black Olive
// https://coolors.co/161513-403d39-666666-696969-808080-d3d3d3
// $panel-fill-color: #403d39;
// $grid-text-color: #161513;
// $grid-text-inverted: #FFF;
// $grid-fill-color: #403d39;
// $grid-border-color: #FFF;
// $cell-fill-color-base: #FFF;
// $cell-fill-color-missed: gray;
// $cell-fill-color-highlighted: #403d39;
// $cell-stroke-color-highlighted: #FFF;
// $list-missed-background: lightgray;
// $list-missed-key: darkgray;
// $list-missed-text: #666;
// $list-pending-background: lightgray;

// ~ Prussian Blue
// https://coolors.co/0d2433-112f41-556877-617889-8296a6-a5b4c0-e7f2f9
// $panel-fill-color: #112F41;
// $grid-text-color: #0D2433;
// $grid-text-inverted: #E7F2F9;
// $grid-fill-color: #112F41;
// $grid-border-color: #E7F2F9;
// $cell-fill-color-base: #E7F2F9;
// $cell-fill-color-missed: #8296A6;
// $cell-fill-color-highlighted: #0D2433;
// $cell-stroke-color-highlighted: #E7F2F9;
// $list-missed-background: #A5B4C0;
// $list-missed-key: #617889;
// $list-missed-text: #556877;
// $list-pending-background: #A5B4C0;

// ~ Gunmetal (bleu)
// https://coolors.co/1b2126-222a30-556877-617889-8296a6-a5b4c0-e7f2f9
$panel-fill-color: #222A30;
$grid-text-color: #1B2126;
$grid-text-inverted: #E7F2F9;
$grid-fill-color: #222A30;
$grid-border-color: #E7F2F9;
$cell-fill-color-base: #E7F2F9;
$cell-fill-color-missed: #8296A6;
$cell-fill-color-highlighted: #1B2126;
$cell-stroke-color-highlighted: #E7F2F9;
$list-missed-background: #A5B4C0;
$list-missed-key: #617889;
$list-missed-text: #556877;
$list-pending-background: #A5B4C0;

// ~ Gunmetal (neutre)
// https://coolors.co/292e33-363d44-556877-6b7986-cdd2d7-d3d3d3-dee1e4-eef0f2
// $panel-fill-color: #292E33;
// $grid-text-color: #363D44;
// $grid-text-inverted: #EEF0F2;
// $grid-fill-color: #292E33;
// $grid-border-color: #EEF0F2;
// $cell-fill-color-base: #DEE1E4;
// $cell-fill-color-missed: #6B7986;
// $cell-fill-color-highlighted: #363D44;
// $cell-stroke-color-highlighted: #DEE1E4;
// $list-missed-background: #D3D3D3;
// $list-missed-key: #6B7986;
// $list-missed-text: #6B7986;
// $list-pending-background: #CDD2D7;
